@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

hr.white {
    width: 100%;
    border: 0;
    height: 1px;
    background: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
}